<section id="protocols" style="padding-top: 200px;padding-bottom: 10px;padding-left:15px;padding-right:15px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2022 Single Cell Data Omics Workshop</h2>
            </div>
            <div class="col-lg-12 text-center">
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <h4>Single Cell DNA: Copykit Tutorial</h4>
                                <h4>Single Cell RNA: Seurat Tutorial</h4>
                                <h4>Single Cell RNA: Intergration Tutorial</h4>
                                <h4>Single Cell Epigenetics: XXX Tutorial</h4>
                                <h4>Single Cell Multi-omics: BindSC Tutorial&nbsp;</h4>
                                <h4>Spatial Transcriptomics: Basic Visium Tutorial</h4>
                                <h4>Spatial Transcriptomics: Basic CellTrek Tutorial</h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
</ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
</ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
</ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-lg-12">
                        <ul>
</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
